

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Intive Patronage 2019</title>

    {% include 'app/base/css.html' %}

    </head>
    <body>
        <div class="container">
            <div class="page-header">
                    <h1><a href="/">Intive Patronage 2019</a></h1>
                    <p>Zadanie testowe nr 2</p>
            </div>
            
            {% block nav %}
                <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
                    <ul class="navbar-nav" style="list-style: none">
                        <li class="nav-item">
                            <a class="navbar-brand" href='{% url "home" %}'>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href='{% url "data_table" %}'>Data Tables</a>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-brand" href='{% url "charts" %}'>Charts</a>
                        </li>
                    </ul>
                </nav>
            {% endblock %}
            
            {% block content %}
            <div class="project_logo"></div>
            {% endblock %}
        </div>
        {% include 'app/base/js.html' %}
        <script>
            $(document).ready(function(){
                {% block jquery %}{% endblock %}
                })
        </script>
    </body>
</html>