{% extends 'app/base.html' %}

<script>
{% block jquery %}

var endpoint = '/api/chart/data'

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        earningData = data.earning,
        estimateData = data.estimate
        
        for (i = 0; i < earningData.length; i++){
            delete earningData[i].id;
            earningData[i]['x'] = earningData[i]['worked_years']
            delete earningData[i]['worked_years']
            earningData[i]['y'] = earningData[i]['salary_brutto']
            delete earningData[i]['salary_brutto']
        }
        for (j = 0; j < estimateData.length; j++){
            delete estimateData[j].id;
            estimateData[j]['x'] = estimateData[j]['pred_worked_years']
            delete estimateData[j]['pred_worked_years']
            estimateData[j]['y'] = estimateData[j]['pred_salary_brutto']
            delete estimateData[j]['pred_salary_brutto']
            
        }

        setChart()

    },
    error: function(error_data){
        console.log("Error");
        console.log(error_data);
    }
})
function setChart(){
    var ctx1 = document.getElementById("earningChart").getContext('2d');
    var ctx2 = document.getElementById("estimateChart").getContext('2d');
    var earningChart = new Chart(ctx1, {
        type: 'scatter',
        data: {
            datasets: [{
                label: 'Earnings Data',
                data: earningData,
                backgroundColor: 'orange',
                pointBackgroundColor: 'orange',
                pointBorderColor: 'darkorange',
                fill: false,
                tension: 0,
                showLine: false
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'linear',
                    position: 'bottom'
                }]
            }
        }
    });
    var estimateChart = new Chart(ctx2, {
        type: 'scatter',
        data: {
            datasets: [{
                label: "Estimate Data",
                data: estimateData,
                backgroundColor: 'Aqua',
                fill: false
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    type: 'linear',
                    position: 'bottom'
                }]
            }
        }
    });
}

{% endblock jquery %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12'>
        <div class='col-sm-6'>
            <canvas id="earningChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <canvas id="estimateChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>

{% endblock content%}